h1 {
    background-color: antiquewhite;
    border: 10px solid rgb(0, 0, 0);
    padding: 20px;
    margin: 10px;

    justify-content: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}