body {
    background-image: url('https://media-hosting.imagekit.io//bcb9373a68474dd3/silverware.jpg?Expires=1832903300&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=2WTmdPoEVxGb5MmJVD-hQqzEuUsA6IdZwtjJqyZu3IaAaNd~qorRtScnFrZLRbg2ErcSi5DC4tiX2Y6vgW7BXPAQ96QOZqLxtvLJCRTh~w~N6TRw0U5i80ogwga5uXqLNDG5K6mB~abgO958s-f7h02~ehdk1O8pL-v2X~x1LvI1kNtWJlg55O4uFvcp8--F3kVoP4nenOf5akj2fTwtcUmyn4u0NCASrG0TywO7Q6IhOLvKSuC0-yFl~Qyu~zWZZwGCoWjq8EeFZCQeARHo1maa4Yz-rhcZ0fX8EGDNK0HC9hVv2hJBpGxkO5EVTJtISNBf9GLCZnNJybNegqY~eA__');
    color: #404040;
    font-family: Georgia, Garamond, serif;
    font-size: 11pt;
}
h1, h2, h3, h4{
    color: #A4A400;
    background-color: #F0F0F0;
}
h1 {
    font-size: 22pt;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    font-family: "Lucida Sans Unicode";
}
h2, h3, h4{
    font-size: 18pt;
    text-decoration: underline;
    font-family: "Lucida Sans Unicode";
}
ul {
    list-style: url('pie-icon.gif');
}
blockquote {
    background-color: #FFFFA8;
    font-style: italic;
    margin: 10px;
    padding: 10px;
}

div{
    background-color: #FFFFA8;
}